@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

:root {
	--bg-color: #D8D8D8;

	--icon-size: 25px;
	--main-gap: 16px;
	--icon-gap: var(--main-gap);
	--dashboard-icon-size: 40px;
	--main-font: 'Roboto', sans-serif;
	--sidebar-color: #0d97ff;
	--admin-icon-color: orange;

	--padding-right: max(20px, 2rem);
}

body {
	background-color: var(--bg-color);
/*	height: 100vh;
	width: 100vw; */
	font-family: var(--main-font);
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-columns: minmax(200px, 250px) 3fr;
}

body > div {
	background-color: white;
}

.sidebar {
	background-color: var(--sidebar-color);
	color: white;
	font-weight: 700;
	grid-row: 1 / -1;
	padding: 18px;

	display: grid;
        grid-template-rows: calc(2 * var(--icon-size)) calc(8 * var(--icon-size)) calc(4 * var(--icon-size));
        gap: 18px;

}

#logo {
	display: grid;
	justify-content: center;
	align-self: center;
	height: 80%;
	font-size: 1.5rem;
}

#logo .icon,
.admin-welcome .icon {
	height: var(--dashboard-icon-size);
	width: var(--dashboard-icon-size);
	margin-right: var(--icon-gap);
}

.sidebar-main,
.sidebar-help {
	display: grid;
	grid-template-rows: repeat(autofit, var(--icon-size));
	align-items: center;
}

.icon-container {
	display: grid;	
	grid-template-columns: 1fr 4fr;
	align-items: center;
	padding: 0;
}

.icon {
	height: var(--icon-size);
	width: var(--icon-size);
	background-color: white;
	border-radius:  50%;
}

.header {
	grid-area: 1 / 2 / 2 / -1;

	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 2fr 1fr;
	padding: 12px 2rem 12px var(--padding-right);
	gap: 12px;
	font-weight: 300;
}

.header > div {
	display: grid;
	align-items: center;
	padding: 4px;
	gap: 4px;
}

.header .icon {
	background-color: gray;
}

.search-container,
.notification-container {
	justify-content: center;
}

.search-container {
	grid-template-columns: var(--icon-size) 1fr;
}

.notification-container {
	grid-template-columns: 1fr 1fr 3fr;

	justify-items: center;
}

.search-container input {
	width: min(500px, 90%);
	height: calc(var(--icon-size) - 25%);
	background-color: var(--bg-color);
	outline: none;
	border: none;
	border-radius: 16px;
	padding-left: 12px;
}

.header .admin-welcome {
	grid-template-columns: var(--dashboard-icon-size) 1fr;
	gap: 0;	
}

.admin-welcome .icon {
	grid-row: 1 / 3;
	align-self: center;
	justify-self: center;
}

#notif-admin-name,
.admin-welcome > div {
	justify-self: left;
	font-weight: 700;
}

#welcome-admin-name {
	font-size: 1.5rem;

	grid-column: 2;
}

.btn-container {
	grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
	justify-content: space-between;
	gap: 12px !important;
}

.btn {
	background-color: var(--sidebar-color);
	color: white;
	font-weight: 500;
	width: 90px;
	height: 30px;
	border-radius: 16px;
	text-align: center; 
	display: grid;
	align-content: center;
}

.main {
	grid-row: 2;
	grid-column: 2;

	background-color: inherit;

	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 3fr 1fr;
	gap: var(--main-gap);
	padding: var(--padding-right);
}

.main .header {
	font-size: 1.2rem;
	font-weight: 500;
	padding: 0;
}

.projects {
	grid-row: 1 / -1;
}

.announcements {
	grid-column: 2 / 3;
}

.trending {
	grid-column: 2 / 3;
}

